@import 'src/client/styles/variables.scss';

.chart-grid {
  &__line {
    stroke-width: 1px;
    stroke: $color-grayscale-p50;
  }

  &__indicator {
    font-size: 1rem;
    fill: $color-grayscale-base;
  }
}

