@import 'src/build/client/styles/variables.css';

.chart-grid {
  &__line {
    stroke-width: 1px;
    stroke: $color-grayscale-p50;
  }

  &__indicator {
    font-size: 1.5rem;
    fill: $color-grayscale-base;
  }
}

