@import 'src/client/styles/variables.scss';

.line-chart {
  display: inline-block;
  position: relative;
  height: 600px;
  width: 1020px;

  svg {
    height: 100%;
    width: 100%;
  }

  &__line {
    stroke: $color-primary;
    stroke-width: 2px;
    fill: none;
  }

  &__area {
    opacity: .3;
    fill: $color-primary;
  }

  &__dot {
    stroke: $color-primary;
    stroke-width: 1px;
    opacity: 1;
    fill: $color-grayscale-p0;
    cursor: pointer;

    &--news {
      stroke: $color-unfavorable;
    }

    &--between {
      stroke: $color-neutral;
    }

    &--below {
      stroke: $color-unfavorable;
    }

    &:hover {
      stroke-width: 1rem;
      stroke-opacity: .65;
    }
  }

  &__tooltip {
    position: absolute;
    width: 8rem;
    margin-top: -7rem;
    margin-left: -4rem;
  }
}

.line-chart-tooltip {

	font-family: inherit;

	p {
		margin: 0;
	}

  img {
    width: 5.3rem;
    height: 5.3rem;
  }

	&-title {
		font-size: 13px;
    margin: 0;
    font-weight: bold;
  }

  &-news-title {
    width: 20rem;
		font-size: 13px;
    margin: 0;
    font-weight: bold;
  }

	&-sub-title {
		font-size: 11px;
		margin: 0;
  }

  &-text {
		font-size: 13px;
		margin: 0;
	}

	&-divider {
		margin: 5px 0;
	}

	&-container {
		margin: -6px -6px;
  }

  &--horizontal {
    padding-left: 1rem;
    float: right;
  }

  &-link {
		font-size: 11px;
  }
}
