@import 'src/client/styles/variables.scss';
@import 'src/client/styles/mixins/arrow.scss';

@mixin graph-tooltip($color) {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 8rem;
  white-space: nowrap;

  .graph-tooltip__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 8rem;
    padding: .5rem;
    background-color: $color-grayscale-p0;
    border: .2rem solid $color;
    border-bottom: .5rem solid $color;
  }

  .graph-tooltip__title {
    margin: 0;
    font-size: .9rem;
    color: $color-grayscale-p100;
  }

  .graph-tooltip__label {
    margin: 0;
    font-size: .8rem;
    color: $color-grayscale-p90;
  }

  .graph-tooltip__image {
    height: 50px;
    width: 80px;
  }

  &::after {
    @include arrow(bottom, 10px, $color, static);
  }
}

.histogram__percent {
  .histogram__tooltip {
    font-family: $font-primary;

    .graph-tooltip__content {
      padding: 1rem;
    }

    .graph-tooltip__title {
      font-size: 2rem;
    }

    .graph-tooltip__label {
      font-size: 2.1rem;
    }
  }
}

.graph-tooltip--default {
  @include graph-tooltip($color-most-favorable);
}

.graph-tooltip--most-unfavorable {
  @include graph-tooltip($color-most-unfavorable);
}

.graph-tooltip--unfavorable {
  @include graph-tooltip($color-unfavorable);
}

.graph-tooltip--neutral {
  @include graph-tooltip($color-neutral);
}

.graph-tooltip--favorable {
  @include graph-tooltip($color-favorable);
}

.graph-tooltip--most-favorable {
  @include graph-tooltip($color-most-favorable);
}

.unscored-graph-tooltip--default {
  @include graph-tooltip($color-black);
}
