.nav-bar-container {
  background-color: #222;
  text-align: center;
}
  
.nav-bar-logo {
  margin: auto 0;
  height: 50px;
}
  
.nav-bar-header {
  height: 66px;
  color: white;
  width: 100%;
  display: flex;
}
  
.nav-bar-title {
  display: inline-block;
  margin: auto 0;

  &--main {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 1;
  }

  &--sub {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 1;
  }
}

.nav-bar-sub-title {
  display: inline-block;
  font-size: 20px;
  font-weight: 1;
  margin: auto 0px auto auto;
}

.nav-bar-header-container {
  max-width: 1040px;
  margin: auto;
}

.nav-bar-title {
  font-family: ubuntu;
  
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
  