.ant-tabs-content {
	background-color: #E9E9E9;
	height: 100%;
}

.ant-tabs-bar {
	margin: 0;
}

.ant-tabs-nav-container {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.nav-tab-container {
	height: 100%;
}
