$color-secondary: #303042;
$color-grayscale-p0: #FFFFFF !default;
$color-primary: #129FA9 !default;
$color-favorable: #129FA9;
$color-neutral: #808080;
$color-unfavorable: #DB3766;
$color-grayscale-base: #2B2B2B !default;
$color-grayscale-p50: #CCCCCC;