.app-container {
  text-align: center;
}

.app-logo {
  height: 60px;
}

.app-header {
  background-color: #222;
  height: 65px;
  color: white;
}

.app-title {
  display: inline-block;
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
